#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.contenido{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.card{
  width: 250px;
  height: auto;
  border-radius: 10px;
  text-align: center;
}

.lugar-pokemon{
  background-color: rgb(78, 142, 144);
  width: auto;
}

.nombre{
  font-size: 20px;
  font: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-ver{
  background-color: rgb(121, 121, 198);
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buscador{
  justify-content: center;
  display: flex;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.titulo{
  text-align: center;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton-buscar{
  background-color:rgb(71, 206, 172);
  color: black;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px; 
}

.boton-refrescar{
  background-color:rgb(136, 164, 242);
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.refrescar{
  justify-content: center;
  display: flex;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.lugar-opinion{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 10px;
}

.boton-opinion{
  color: black;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px; 
}